<div class="center hero-unit">
    <h1>
    <% provide(:page_title, 'Home') %>
    <h1>Home Page of the Sample App. Welcome!</h1>
    <p>
        This is home page of the Sample App on Ruby on Rails 4.
    </p>
    <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), "http://isit.su" %>
